<h1>Editing transacao</h1>

<%= render "form", transacao: @transacao %>

<br>

<div>
  <%= link_to "Show this transacao", @transacao %> |
  <%= link_to "Back to transacaos", transacaos_path %>
</div>
