<h1 class="page-title">Editar transação</h1>

<%= render "form", transacao: @transacao %>

<br>

<div>
  <%= link_to "Detalhes", @transacao, class: "action-button" %> |
  <%= link_to "Voltar", transacaos_path, class: "action-button" %>
</div>
