<h1>Editing meta financeira</h1>

<%= render "form", meta_financeira: @meta_financeira %>

<br>

<div>
  <%= link_to "Show this meta financeira", @meta_financeira %> |
  <%= link_to "Back to meta financeiras", meta_financeiras_path %>
</div>
