<h1 class="page-title" >Editar meta financeira</h1>

<%= render "form", meta_financeira: @meta_financeira %>

<br>

<div>
  <%= link_to "Voltar", @meta_financeira, class: "action-button" %> |
  <%= link_to "Metas financeiras", meta_financeiras_path, class: "action-button" %>
</div>
