<div id="relatorio_financeiros" class="account-list">
  <div id="<%= dom_id relatorio_financeiro %>" class="account-item">
    <p>
      <strong>Transacoes:</strong>
      <%= relatorio_financeiro.transacoes_id %>
    </p>

  </div>
</div>
