<h1 class="page-title">Editar relatorio financeiro</h1>

<%= render "form", relatorio_financeiro: @relatorio_financeiro %>

<br>

<div>
  <%= link_to "Show this relatorio financeiro", @relatorio_financeiro, class: "action-button" %> |
  <%= link_to "Back to relatorio financeiros", relatorio_financeiros_path, class: "action-button" %>
</div>
