<h1>Editing relatorio financeiro</h1>

<%= render "form", relatorio_financeiro: @relatorio_financeiro %>

<br>

<div>
  <%= link_to "Show this relatorio financeiro", @relatorio_financeiro %> |
  <%= link_to "Back to relatorio financeiros", relatorio_financeiros_path %>
</div>
