<div id="accounts" class="account-list">
  <div id="<%= dom_id(account) %>" class="account-item">
    <p>
      <strong>Nome da Conta:</strong>
      <%= account.nomeConta %>
    </p>

    <p>
      <strong>Saldo:</strong>
      <%= number_to_currency(account.saldo, unit: "R$", precision: 2, delimiter: ".", separator: ",") %>
    </p>
  </div>
</div>