<div id="<%= dom_id account %>">
  <p>
    <strong>Nome da Conta:</strong>
    <%= account.nomeConta %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= account.saldo %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= account.user_id %>
  </p>

</div>
