<h1 class="page-title">Editar conta</h1>

<%= render "form", account: @account %>

<br>

<div>
  <%= link_to "Voltar", @account, class: "action-button" %> |
  <%= link_to "Contas", accounts_path, class: "action-button" %>
</div>
